<h1>New review for <%= @book.title %></h1>

<%= form_for [@book, @review] do |f| %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>

  <ul>
    <li>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </li>

    <li>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
